$nutmeg: hsl(14, 45%, 36%);
$darkRaspberry: hsl(332, 51%, 32%);
$white: hsl(0, 0%, 100%);
$roseWhite: hsl(330, 100%, 98%);
$eggshell: hsl(30, 54%, 90%);
$lightGrey: hsl(30, 18%, 87%);
$wengeBrown: hsl(30, 10%, 34%);
$darkCharcoal: hsl(24, 5%, 18%);

@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $eggshell;
  color: $darkCharcoal;
  font-family: "Outfit";
}

p {
  font-size: 16px;
}

.container {
  background: $white;
  width: 50%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  border-radius: 1.5vh;

  h2 {
    font-family: "Young Serif";
    color: $nutmeg;
    margin-bottom: 2%;
  }

  ul,
  ol {
    padding-left: 3%;

    li {
      margin-bottom: 2%;
      padding-left: 2%;
    }
  }

  li::marker {
    color: $nutmeg;
    font-family: "Outfit";
    font-weight: bold;
  }

  .title-card {
    padding: 3%;

    img {
      width: 100%;
      border-radius: 1.5vh;
      margin-bottom: 2%;
    }

    h1 {
      font-family: "Young Serif";
    }
  }

  .prep-info {
    background-color: lighten($darkRaspberry, 65%);
    padding: 3% 3% 1% 3%;
    margin: 0 3% 3% 3%;
    border-radius: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h3 {
      font-family: "Outfit";
      color: $darkRaspberry;
      margin-bottom: 2%;
    }
  }

  .ingredient-card,
  .instructions-card {
    margin: 0 3% 3% 3%;
    border-bottom: 1px solid $lightGrey;
  }

  .nutrition-card {
    padding: 0 3% 3%;

    .nutri-text {
      padding-bottom: 3%;
    }

    .nutri-table {
      display: grid;

      .nutri-info {
        display: grid;
        grid-template-columns: 3% 47% 50%;
        border-bottom: 1px solid $lightGrey;
        margin-bottom: 2%;
        padding-bottom: 1%;

        p {
          grid-column-start: 2;
          grid-column-end: 3;
        }

        .nutri-number {
          grid-column-start: 3;
          grid-column-end: 4;
          font-weight: bold;
          color: $nutmeg;
        }
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: $wengeBrown;
  color: $eggshell;
}
.attribution a {
  color: yellow;
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    padding: 3%;
    margin: 0;
  }
}
